{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Latest News</h1>
    </header>
    <main>
        <ul class="news-list">
            {% for new in news %}
                <li class="news-item">
                    <a href="{% url 'detail_new' new.id %}"><h2>{{ new.title }}</h2></a>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
